<h1>Welcome to Shira Chadasha at Brandeis!</h1>
<div class="container" style="display: flex; gap: 2rem">
    <div class="routes">
      <h2><a href="/lead">Sign up to lead!</a></h2>
      <h2><a href="/about">Learn about our history</a></h2>
      <h2><a href="/faq">FAQ</a></h2>
      <h2><a href="/team">Meet the board</a></h2>
    </div>